<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Youtube Downloader</title>
        <link rel="stylesheet" href="popup.css" />
    </head>
    <body>
        <div class="header-text">
            <svg
                width="18"
                height="18"
                viewBox="0 0 128 128"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <circle cx="64" cy="64" r="64" fill="#CE1312" />
                <path
                    d="M57.0253 30.4336H70.9922C73.3142 30.4336 75.1822 32.3046 75.1822 34.6302V64.0066H90.4934C93.6011 64.0066 95.1549 67.7661 92.9551 69.9693L66.4006 96.5829C65.0912 97.8943 62.9437 97.8943 61.6343 96.5829L35.0449 69.9693C32.8451 67.7661 34.3989 64.0066 37.5065 64.0066H52.8352V34.6302C52.8352 32.3046 54.7033 30.4336 57.0253 30.4336Z"
                    fill="white"
                />
            </svg>
            <h2>Youtube <span>Downloader</span></h2>
        </div>

        <div id="downloadContainer" class="download-container"></div>

        <!-- <p class="thanks-title">Thanks for using my work😍</p> -->
        <p class="thanks-title">
            Created by
            <a href="https://github.com/iqbal-rashed">Rashed Iqbal</a> 😍
        </p>

        <script src="popup.js"></script>
    </body>
</html>
